@model StateMgtMVCDemo.Models.EmpModel

@{
    ViewBag.Title = "SearchByDeptNo";
}

<h2>SearchByDeptNo</h2>

<form  method="post">
    <fieldset>
        <div>
            <label> Enter Deptno</label>
            <input type="text" name="deptno" id="dno" />
            <br />
            <input type="submit" name="Search" value="Search Employees in Deptno" />
        </div>
    </fieldset>
</form>

